* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, img {
  text-decoration: none;
}

header {
  background-color: #f8f8f8;
  padding: 10px 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  gap: 15px;
}

section {
  flex-grow: 1;
  margin-top: 150px;
  text-align: center;
}

.search-container {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  border-radius: 24px;
  height: 40px;
  padding: 10px 10px 10px 40px;
  width: 600px;
  border: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.keyboard-icon {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  pointer-events: none;
}
.mic-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

input[type="submit"] {
  border-radius: 24px;
  padding: 10px 20px;
  margin: 10px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

footer nav {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

